<div class='container'>
<%= form_for @user, class: 'form-control mt-4', url: registration_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <br />
  <%= f.submit %>
<%end%>
</div>